<h1>Welcome to Adventure!</h1>
<p>One brilliant woman's quest to finally larn how to code <br/> after much peer pressure from her friends, coworkers, and colleagues.</p>
<p> click this link to see the cpmmunity that inspired my interest, but <%= link_to "beware!", "https://www.youtube.com/watch?v=B88069O4cx0" %><br /> That's me in the blue shirt!</p>
<footer>Don't be shy, take a look around</footer>
