<body bgcolor = "yellow">
	<article>
	<h1> this is my space on the internet life form. Get out!</h1>
	<p1> other stuff that's part of my page, ayeeeeeee!! <%= link_to "vulva's are awesome", "http://handsome.rocks" %> </p1>
		<section>
			<h2>On another note</h2>
			<p2> On a serious note I've actually taken a sabatacle from rails to focus on learning the ruby language</p2>
			<p3>Check out my progress <%= link_to "on github", "https://github.com/Speculate7/The-Pursuit-of-Ruby/tree/koans" %></p3>
			</article>
	</article>
	<footer><strong> More to come</strong></footer>
</body>